#app {
    background: #f7f7f7;
    min-height: 100vh;

    .car-item {
        box-shadow: 0 0 0 #333;

        img {
            min-width: 100px;
            min-height: 100px;
            background: #333;
        }

        .car-favourite-button {
            color: $primary;
            opacity: 0;
            position: absolute;
            border: none;
            background: none;
            top: 5px;
            right: 10px;

            &:focus, &.favourite {
                opacity: 1;
            }
        }

        &:hover {
            .car-favourite-button {
                opacity: 1;
            }
        }
    }
}

